body{
    font-family: "Poppins", sans-serif;
    
}
#nav-container{
    margin: 0 10px 0 10px;
}

#nav-container h2{
    margin-bottom: 0;
}

#menu-title{
    margin: 10px 0 30px 0;
}

#div,h4{
    font-weight: 700;
}

.div,p{
    line-height: 1.4;
    font-weight: 650;
}

#chicken-content{
    padding: 20px;
    margin: 20px 0;
    background-color: grey;
}

#beef-content{
    background-color: grey;
    padding: 20px;
    margin: 20px 0;
}


#sushi-content{
    background-color: grey;
    padding: 20px;
    margin: 20px 0;
}

#scroll-top{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#scroll-top:hover{
    background-color: blue;
}